div.container {
    display: block;
    text-align: center;
    margin: 0 auto;
}

h1.title {
    display: inline-block;
    color: #464646;
    border-bottom: 8px solid #FFDF33;
    cursor: pointer;
}

h1.title:hover {
    color: #1A1A1A;
}

div.ChinaMap {
    width: 1200px;
    height: 1000px;
    margin: 0 auto;
}
